<input type = "text" name = "" value = "" placeholder="Please enter a name" #symbol >
<button type = "button" name = "button" (click)="this.getStock(symbol.value)">
search
</button>

<div class="currentStock">
    <table border="1">
        <tr *ngIf = "this.currentStockValue !== undefined">
        <td>{{this.currentStockValue.company}}</td>
        
        <td *ngFor="let n of this.currentStockValue.prices"> {{n}}</td>
        </tr>

    </table>
</div>
<div class="pastSearches">
    Past Searches
    <table border="1">
        <tr *ngFor="let pastprice of this.pastcompanyprice">
            <td>{{pastprice.symbol}}</td>
            <td>{{pastprice.searchtime}}</td>
            <td *ngFor="let n of pastprice.prices">{{n}}</td>
            <td> <button (click) = "this.getStock(pastprice.symbol)">show this</button></td>
        </tr>
    </table>
</div>
